


$font-family1: 'Merriweather' , cursive;
$font-family2: 'Indie Flower', cursive;
$font-family3: 'Tangerine', cursive;

.txt_center{
    text-align: center;
}
// a{
//     color: rgb(136, 10, 219);
// }
// $font-family1:  Verdana, Geneva, Tahoma, sans-serif;
// $font-family2: Verdana, Geneva, Tahoma, sans-serif;
// $font-family3:  Verdana, Geneva, Tahoma, sans-serif;
